aiocqhttp>=1.2
aiohttp>=3.6.1
APScheduler~=3.6
arrow~=0.14
beautifulsoup4>=4.9.0
dataclasses~=0.6
expiringdict>=1.2.0
feedparser~=5.2
filetype==1.0.7
fuzzywuzzy~=0.18.0
jinja2~=2.10
lxml>=4.4.1
matplotlib~=3.2.0
nonebot[scheduler]~=1.6.0
numpy>=1.18.0
opencc-python-reimplemented~=0.1.5
opencc~=1.1.1
peewee~=3.13
pillow~=7.1
pygtrie>=2.0
pytz>=2019.3
quart>=0.6.15
requests~=2.22
sogou_tr_free>=0.0.6
tinydb>=4.0
TwitterAPI>=2.5.10
ujson~=3.1.0
zhconv>=1.4.0
